body {
    background-color: $bodyBg;
    max-width: 100vw;
    color: $light;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

section {
    padding-top: 30px;
    padding-bottom: 30px;    
}

footer {
    background-color: $dark;
    max-height: 100vh;
}

.sectionHeader {
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: $gradient;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 50px;
    margin-top: 10px;
    text-transform: uppercase;
  }
  
  
  .text {
    text-align: justify; 

    &__read-more {
      display:block;
    }

    &__img {
      box-shadow: 20px 20px 0px 0px rgba(20,25,30,1);
      box-sizing: border-box;

      &-left {
        box-shadow: -20px 20px 0px 0px rgba(20,25,30,1);
        box-sizing: border-box;
    }
    }
  }

  @media (min-width: 1091px)
  {
      .text {
        margin-right: 20px;
      }
  }

  ul {
    margin: 0;
    padding: 0;
  }


@media (max-width: 768px)
{

  .text__content {
    overflow:hidden;
    max-height: 0;
    
    &-active {
      max-height: 100vw;
    }
  }

  .text__read-more {
    display:none;
  }

  .custom-col {
    margin-bottom: 0;
  }

  .hide-mobile {
    display:none;
  }

}

@media (max-width: 992px)
{
  .sectionHeader {
    margin-bottom: 40px;
    margin-top: 20px;
  }
}

