body {
    background-color: $bodyBg;
    color: $light;
    font-size: 1.2rem;
}

section {
    // min-height: 70vh; 
    padding-top: 30px;
    padding-bottom: 30px;    
}



footer {
    background-color: $dark;
    min-height: 30vh;
}

.sectionHeader {
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: $gradient;
    margin: 15px;
  }
  
  
  
  .text {
    text-align: justify; 
  }

  .contact-link-section {
      min-height: 70vh;
  }