.references {

    &__btn {
        font-size: 2rem;
    font-weight: 500;
    // margin-bottom: 40px;
    text-transform: uppercase;
        margin-top: 30px;
        position: relative;
        cursor:pointer;
        &:hover {
            color: $basic;
            }
    }
    

    &__content {
        overflow: hidden; 
        transition: max-height .5s ease-out;
        height: auto;
        max-height: 0px;

        &-active {
            overflow: hidden; 
            transition: max-height .5s ease-out;
            height: auto;
            max-height: 1000vw;
        }
    }

    &__arrow {
        transition: transform .25s;
        font-size: 2rem;
        margin-left: 15px;

        &-up {
            transform:rotate(-180deg);
        }
    }

    &__img {
        overflow:hidden;
        padding: 2px;

    }

}

