$green: #2fd36f;
$blue: #398be6;
$gradient: linear-gradient(to left, $blue, $green);
$dark: #12171b;
$bodyBg: lighten($dark, 4%);
$basic:#afc0ce;
$hover: darken($basic, 10%);
$light: lighten($basic, 10%);
