@import "../node_modules/bootstrap/scss/bootstrap.scss"; 
@import "../scss/variables"; 
@import "../scss/general";
@import "../scss/heroImage"; 
@import "../scss/scroll";
@import "../scss/list"; 
@import "../scss/gallery";
@import "../scss/references";
@import "../scss/contact";
@import "../scss/underline";
@import "../scss/navbar";
@import "../scss/text";
@import "../scss/footer";


.offer-list {
    overflow: hidden;
    transition: max-height .3s linear;
    height: auto;
    max-height: 0px;
}

.offer__list-active {
        padding-bottom: 20px;
        overflow: hidden; 
        transition: max-height .3s linear;
        height: auto;
        max-height: 1000vw;
    }