@import "../node_modules/bootstrap/scss/bootstrap.scss"; 
@import "../scss/variables"; 
@import "../scss/navbar";
@import "../scss/scroll";

body {
    background-color: $bodyBg;
    color: $light;
    font-size: 1.2rem;
}

section {
    // min-height: 100vh; 
    padding-top: 30px;
    padding-bottom: 30px;    
}

@keyframes showSection{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

footer {
    background-color: $dark;
    min-height: 30vh;
}

.heroImage {
    position: relative;
    color:white;
    height:100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .heroImage__container {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
}


.splide__img {
    
}

@keyframes brighten {
    from{
        filter: brightness(50%); 
    }
    to {
        filter: brightness(1); 
    }
}

.splide__img:hover {
    animation: brighten .2s forwards linear alternate-reverse; 
}

.references__btn {
    background-color: transparent;
    color: $light;
    cursor: pointer;
    border: none;
    transition: 1s;
}

.references__content {
    overflow: hidden; 
    transition: max-height 0.3s ease-out;
    height: auto;
    max-height: 0px;
}

.references__content-active {
  overflow: hidden; 
  transition: max-height 1s ease-out;
  height: auto;
  max-height: 200vh;
}

.sectionHeader {
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: $gradient;
  margin: 15px;
}

// .references__content:active {
//     // display: none;
//     overflow: hidden;
//     animation: slideDown .5s linear forwards;
// }

// .references__contentactive {
//     display: block; 
//     transition: all 1s ease-in-out;
// }


  
  @keyframes slideDown {
    from {
      opacity: 0;
      height: 0;
      padding: 0;
    }
  
    to {
      opacity: 1;
      height: 400px;
      padding: 20px;
    }
  }
  
  @keyframes showImage {
    from {
      opacity: 0;
      clip-path: inset(50% 0 50% 0);
      transform: scale(0.4);
    }
  
    to {
      opacity: 1;
      clip-path: inset(0 0 0 0);
    }
  }
  
  @keyframes showContent {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  